#root {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
}


/* header */
#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#brand_logo {
  display: flex;
}

#brand_logo a img {
  height: 50px;
  width: 200px;
  padding: 10px 10px;
}

#header_nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

#header_nav ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
}

#header_nav ul li a {
  text-decoration: none;
}